body {
    background-color: #202124;
    color: #bcd1c6;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 20px 0px 0px;
}

nav {
    margin: 0px 0px 0px 107.5px;
}

.google-logo img {
    height: 32px;
    width: 92px;
}

.search-query {
    background-color: #303134;
    width: 540px;
    height: 46px;
    font-size: 16px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.google-search-icons {
    display: block;
    justify-content: space-between;
    align-items: center;
}

#messi-name {
    width: 337px;
}

#search-box {
    padding: 0px 8px;
}

#a1 {
    padding: 0px 8px;
}

#a2 {
    padding: 0px 8px;
}

#a3 {
    padding: 0px 14px 0px 0px;
}

.search-box {
    padding: 5px 8px 0px 14px;
}