body {
    background-color: #202124;
    color: #bcd1c6;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 20px 0px 0px;
}

nav {
    margin: 0px 0px 0px 107.5px;
}

.google-logo img {
    height: 32px;
    width: 92px;
}

.search-query {
    background-color: #303134;
    width: 540px;
    height: 46px;
    font-size: 16px;
    border-radius: 50px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-box {
    font-size: 18px;
}